{% extends "base.html" %}

{% block style %}
<link href="/static/css/chat.css" rel="stylesheet">
{% endblock style %}

{% block body %}
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Simple Chat App</h5>

        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/chat">Chat</a>
          </nav>

        You are logged in as: <a class="p-2 text-bold" href="/profile">{% if user %}{{user.username}}{% else %}{{username}}{% endif %}</a>
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/logout">Logout</a>
          </nav>
    </div>

    {% block content %}
    {% endblock content %}

</body>
{% endblock body %}