{% extends "base_content.html" %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Welcome to our Chat App</h1>
      <p>
        <form action="/chat" method="Post">
            <div class="mb-3">
                  <label for="message">Message</label>
                  <input type="text" class="form-control" id="message" name="message" placeholder="Please enter a message." required>
            </div>

            <input type="submit" value="Submit">
        </form>


      </p>
    </div>
    <div class="container">
        <a href="/chat?username={{ username }}">Refresh</a>

        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Chat Window</h4>
              </div>
              <div class="card-body">
        {% for msg in messages %}
                <div class="{% if msg.user.username == username %}text-left{% else %}text-right{% endif %}">
                    <b>{{ msg.user.username }}</b>
                    {{ msg.message }}
                    {% if msg.user.username == username %}
                      <a class="btn btn-outline-primary btn-sm" href="/message/delete/{{msg.id}}">Delete</a>
                    {% endif %}
                </div>


        {% endfor  %}

              </div>
            </div>
        </div>

    </div>
{% endblock content %}